@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
td a:hover{
    color:rgb(184, 13, 13);
}
td a{
text-decoration: none;
color: rgb(90, 2, 2);
font-weight: bold;
}
table{
    margin-left: 35%;
    width:30%
}
tr{

    text-align: center;
    font-family: 'Agbalumo';
}